body { background-color: #dde0e5; font-family: 'Roboto', sans-serif; }

*:focus { outline: none; }

.chat_window { height: 300px; width: 400px; margin: 0 auto; box-shadow: 0px 10px 30px grey; border-radius: 10px; }
.chat_window .chat_header { height: 50px; background-color: #827dcf; color: #FFF; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.chat_window .chat_header .info_header { padding: 16px 0 0 20px; }
.chat_window .chat_header .info_header .name { font-size: 1.25em; font-weight: 600; }
.chat_window .chat_header .info_header .close { float: right; padding: 3px 16px 0 0; }
.chat_window .chat_header .info_header .minus { float: right; padding: 8px 8px 0 0; }
.chat_window .chat_body { height: 200px; background-color: #FFF; overflow: auto; }
.chat_window .chat_body .messages .msg { width: 100%; font-size: 1em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.chat_window .chat_body .messages .msg .you { float: left; position: relative; padding: 0.7em 0.9em; margin: 4px 20px; background-color: #827cd6; color: #FFF; border-radius: 8px; }
.chat_window .chat_body .messages .msg .you:before { content: ""; position: absolute; right: 100%; top: 6px; border-top: 20px solid #827cd6; border-left: 15px solid transparent; }
.chat_window .chat_body .messages .msg .me { float: right; position: relative; padding: 0.7em 0.9em; margin: 4px 20px; background-color: #F1F1F1; border-radius: 8px; }
.chat_window .chat_body .messages .msg .me:after { content: ""; position: absolute; right: -14px; top: 6px; border-top: 20px solid #F1F1F1; border-right: 15px solid transparent; }
.chat_window .chat_body .messages .msg:before, .chat_window .chat_body .messages .msg:after { content: ''; display: table; }
.chat_window .chat_body .messages .msg:after { clear: both; }
.chat_window .chat_footer { height: 50px; background-color: #f1f1f3; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.chat_window .chat_footer .send { position: relative; margin: 0 auto; top: 7px; width: 370px; height: 35px; background-color: #FFF; color: #b2b2b2; border-radius: 5px; }
.chat_window .chat_footer .send .attach { margin: 10px 0 10px 7px; }
.chat_window .chat_footer .send .form { position: relative; display: inline-block; height: 100%; width: 340px; margin: auto 0; float: right; }
.chat_window .chat_footer .send .form .input_chat { height: 93%; width: 290px; border: 0px solid; color: #b2b2b2; font-size: 0.9em; }
.chat_window .chat_footer .send .form .vertical_line { position: absolute; right: 50px; top: 8px; width: 1px; height: 22px; background-color: #b2b2b2; }
.chat_window .chat_footer .send .form .btn { padding: 0; float: right; width: 49px; height: 100%; background-color: #FFF; color: #b2b2b2; border: none; border-radius: 5px; font-size: 0.9em; }
